@using Projector.Models.ViewModels
@model ProjectDetailsViewModel
@{
    ViewData["Title"] = "Project Details";
}

<style>
    .return-link {
        width: max-content;
    }
    .members-body {
        max-height: 200px;
    }
</style>

<a asp-action="Index" asp-controller="Projects" class="d-flex gap-1 align-items-center justify-content-center return-link mb-2 btn btn-primary">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
    </svg>
    Return to Projects
</a>
<div class="container d-flex flex-column gap-3">
    <div class="row p-4 card">
        <h3>Project Details</h3>
        <div class="card-body">
            <p><b>Code:</b> @Model.Code</p>
            <p><b>Project Name:</b> @Model.Name</p>
            <p><b>Budget:</b> @Model.FormattedBudget</p>
            <p><b>Remarks:</b> @Model.Remarks</p>
        </div>
    </div>
    <div class="row p-4 card">
        <h3>Current Members</h3>
        <div class="card-body overflow-y-scroll members-body">
            @if (Model.HaveMembers)
            {
                <ul>
                    @foreach (var member in Model.Members)
                    {
                        <li>@member.FullName</li>
                    }
                </ul>
            } else
            {
                <div class="alert alert-info" id="noMembersMessage">
                    This project currently has no members.
                </div>
            }
        </div>
    </div>
</div>



